<template>
    <div>
        <b-btn
                :variant="variant"
                class="callback_btn d-flex justify-content-center align-items-center"
                :style="{'backgroundColor' : bg, 'color': color}"
                v-on:click="toggleModal">
            <slot></slot>
        </b-btn>
        <transition name="fade">
            <div class="modal-box" v-on:click="clickBackdrop" v-if="modal">
                <div class="custom_modal">
                    <div class="mobile-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="166.748" height="32" viewBox="0 0 166.748 32"><defs></defs><g transform="translate(-130 -15)"><g transform="translate(130 15)"><g transform="translate(0 0)"><path class="a" d="M332.417,1089H320.41v2.373h9.639v22.564l2.373,2.317Z" transform="translate(-320.409 -1084.252)"/><rect class="a" width="26.398" height="2.373"/><path class="a" d="M378.982,1089H390.99v2.373h-9.639v22.564l-2.373,2.317Z" transform="translate(-364.586 -1084.252)"/><g transform="translate(0 9.492)"><path class="b" d="M405.637,1111.854v-3.541h-7.229v2.373h4.856v3.177a12.665,12.665,0,0,1-.213,1.556,11.119,11.119,0,0,1-2.486,5.087c-.673.759-1.439,1.449-2.157,2.166v3.353c1.886-1.883,4.039-3.675,5.391-6a13.688,13.688,0,0,0,1.776-5.336A25.388,25.388,0,0,0,405.637,1111.854Z" transform="translate(-379.242 -1108.313)"/><path class="b" d="M320.418,1111.854c0-1.84,0-1.7,0-3.541h7.229v2.373h-4.856v3.177a12.677,12.677,0,0,0,.213,1.556,11.121,11.121,0,0,0,2.486,5.087c.673.759,1.439,1.449,2.157,2.166v3.353c-1.886-1.883-4.039-3.675-5.391-6a13.694,13.694,0,0,1-1.776-5.336A25.439,25.439,0,0,1,320.418,1111.854Z" transform="translate(-320.409 -1108.313)"/></g></g></g><g transform="translate(165.461 24.496)"><path class="c" d="M473.827,1110.694h-3.277v9.421H468v-9.421h-3.277v-2.366h9.1Z" transform="translate(-464.722 -1108.328)"/><path class="c" d="M513.933,1117.742v2.373h-7.262v-11.787h7.077v2.356h-4.527v2.328h4.089v2.309h-4.089v2.421Z" transform="translate(-496.363 -1108.328)"/><path class="c" d="M553.245,1108.328v11.787h-2.55v-4.874h-4.436v4.874h-2.55v-11.787h2.55v4.54h4.436v-4.54Z" transform="translate(-524.299 -1108.328)"/><path class="c" d="M599.331,1117.748v4.454h-2.35v-2.088h-6.974v2.088h-2.35v-4.454h.93c1-.781,1.171-2.157,1.761-9.42H598.2v9.42Zm-8.1,0h4.42v-7.054h-3.1C592.287,1115.046,591.974,1116.767,591.228,1117.748Z" transform="translate(-557.45 -1108.328)"/><path class="c" d="M649.22,1117.742v2.373h-7.262v-11.787h7.077v2.356h-4.527v2.328H648.6v2.309h-4.089v2.421Z" transform="translate(-598.407 -1108.328)"/><path class="c" d="M687.691,1112.381a4.014,4.014,0,0,1-4.161,4.054h-1.985v3.68h-2.55v-11.787h4.536A4.013,4.013,0,0,1,687.691,1112.381Zm-2.584,0a1.616,1.616,0,0,0-1.688-1.692h-1.874v3.383h1.874A1.616,1.616,0,0,0,685.107,1112.381Z" transform="translate(-626.344 -1108.328)"/></g><g transform="translate(232.935 24.315)"><path class="b" d="M748.384,1108.328v11.787H747.2v-9.521l-7.067,9.521h-.818v-11.787h1.18v9.47l7.032-9.47Z" transform="translate(-739.318 -1108.148)"/><path class="b" d="M796.078,1108.328v11.787H794.9v-5.525h-6.562v5.525h-1.18v-11.787h1.18v5.129H794.9v-5.129Z" transform="translate(-775.4 -1108.148)"/><path class="b" d="M841.193,1119.005v3.566h-1.1v-2.457h-9.4v2.457h-1.1v-3.566h.9c1.188-.687,1.467-2.226,2.208-10.677h7.229v10.677Zm-9.328,0h6.882v-9.568h-4.953C833.256,1116.139,832.914,1118.126,831.865,1119.005Z" transform="translate(-807.415 -1108.148)"/><path class="b" d="M890.726,1118.981v1.134h-6.752v-11.787h6.567v1.121h-5.387v4.026H890.1v1.1h-4.949v4.408Z" transform="translate(-848.429 -1108.148)"/><path class="b" d="M918.421,1108.328h1.18v11.787h-1.18Zm8.677,11.787h-1.606l-5.562-6.025v-.16l5.178-5.6h1.548l-5.219,5.659Z" transform="translate(-874.412 -1108.148)"/><path class="b" d="M951.675,1113.673a5.846,5.846,0,0,1,6.03-6.079,5.546,5.546,0,0,1,5.536,4.024h-1.209a4.41,4.41,0,0,0-4.328-2.868,4.918,4.918,0,0,0,0,9.834,4.446,4.446,0,0,0,4.4-3.051h1.2a5.59,5.59,0,0,1-5.6,4.208A5.835,5.835,0,0,1,951.675,1113.673Z" transform="translate(-899.495 -1107.594)"/></g></g></svg>
                        <a href="#" v-on:click.prevent="toggleModal" class="close_modal">+</a>
                    </div>
                    <div class="modal-header text-center">
                        <span v-if="!send">Пожалуйста заполните форму</span>
                        <span v-if="send">Благодарим, с Вами свяжутся в кратчайшие сроки!</span>
                    </div>
                    <form v-if="!send" v-on:submit.prevent="sendCallback" ref="callback_form">
                        <div class="modal-body">
                        <span class="text-muted">
                            Менеджер с вами свяжется в ближайшее время
                        </span>
                            <b-row class="modal-line">
                                <label for="name">Как к Вам обращаться ?</label>
                                <input type="text"
                                       autocomplete="off"
                                       required
                                       id="name"
                                       name="name"
                                       v-on:focusin="animateLabel"
                                       v-on:focusout="animateLabelReverse"
                                       v-model="callbacker.name">
                            </b-row>
                            <b-row class="modal-line">
                                <label for="email">Ваш email</label>
                                <input type="email"
                                       autocomplete="off"
                                       required
                                       id="email"
                                       name="email"
                                       v-on:focusin="animateLabel"
                                       v-on:focusout="animateLabelReverse"
                                       v-model="callbacker.email">
                            </b-row>
                        </div>
                        <div class="modal-footer d-flex flex-column align-items-center">
                            <b-btn type="submit" class="callback_btn btn-custom_blue">
                                Оставить заявку
                            </b-btn>
                            <p class="modal_desc mt-4">
                                Нажимая Оставить заявку я даю свое согласие <br>
                                на обработку персональных данных и соглашаюсь с условиями <br>
                                и <a href="javascript:void(0)">политикой конфиденциальности</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
    export default{
        props: ['variant', 'bg', 'color'],
        data(){
            return{
                modal: false,
                callbacker: {
                    name: null,
                    email: null
                },
                send: false
            }
        },
        methods: {
            sendCallback(){
                this.callbacker = {}
                this.$refs.callback_form.reset()
                this.send = !this.send;
            },
            toggleModal(){
                this.modal = !this.modal
            },
            clickBackdrop(e){
                if (e.target.classList[0] === 'modal-box') {
                    this.modal = !this.modal
                }
            }
        }
    }
</script>

<style scoped>
    .close_modal{
        color: var(--main-greyFull-color);
        font-weight: lighter;
        transform: rotate(45deg);
        text-decoration: none;
        outline: none;
        font-size: 45px;
        line-height: 1;
        margin-left: auto;
    }
    .mobile-header{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .mobile-header svg{
        display: none;
    }
    .modal_desc{
        font-size: 11px;
        text-align: center;
        color: var(--main-grey-color);
    }
    .modal_desc a{
        color: var(--main-grey-color);
        text-decoration: underline;
    }
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }
    .fade-enter, .fade-leave-to{
        opacity: 0;
    }
    .modal-box{
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        width: 100% !important;
        height: 100% !important;
        z-index: 99 !important;
        user-select: none;
        /*pointer-events: none;*/
        background-color: rgba(0,0,0,0.5);
    }
    .custom_modal{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 5px;
        padding: 20px 145px;
        min-width: 300px;
        /*max-width: 400px;*/
        z-index: 12;
    }
    .modal-header span{
        font-weight: 700;
        color: var(--main-blue-color);
        font-size: 22px;
    }
    .modal-header, .modal-footer{
        border: none;
    }
    .modal-body > span{
        font-size: 14px;
    }
    .callback_btn{
        min-width: 220px;
        height: 32px;
        border-radius: 15px;
        padding: 0px 12px;
        font-weight: 600;
        border: none;
        box-shadow: 0 0 5px 0 var(--main-grey-color);
    }
    .callback_btn:hover{
        box-shadow: 0 0 5px 1px var(--main-greyFull-color);
        cursor: pointer;
    }
    .btn{
        cursor: pointer;
    }
    .btn-custom_blue{
        background-color: var(--main-blue-color);
        color: #fff;
        cursor: pointer;
    }
    .btn-custom_blue:hover{
        background-color: #1e1e3d;
        color: #fff;
        cursor: pointer;
    }

    @media screen and (max-width: 992px) {
        .callback_btn{
            min-width: auto;
        }
    }
    @media screen and (max-width: 1024px) {
        .custom_modal{
            padding: 20px;
        }
    }
    @media screen and (max-width: 420px) {
        .custom_modal{
            border-radius: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .mobile-header{
            box-shadow: 1px 0 1px 0 var(--main-grey-color);
        }
        .mobile-header svg{
            display: block;
        }
    }
</style>