<template>
    <b-container fluid style="height: 100vh" class="p-0">
        <cabinet-header></cabinet-header>
        <b-row class="m-0 p-0 h-100">
            <cabinet-nav-left></cabinet-nav-left>
            <b-col class="m-0 p-0" style="padding-top: 60px !important">
                <router-view></router-view>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    import CabinetHeader from './cabinetPages/CabinetHeader.vue'
    import CabinetNavLeft from './cabinetPages/CabinetNavLeft.vue'
    export default {
        components: {
            CabinetHeader,
            CabinetNavLeft
        },
        data(){
            return{

            }
        }
    }
</script>

<style scoped>

</style>