<template>
    <div class="hello">
        <div class="icon_box">
            <router-link to="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="197.468" viewBox="0 0 146 197.468"><defs></defs><g transform="translate(-610 -188)"><g transform="translate(638.255 188)"><path class="a1" d="M681.023,305.173h-40.7v8.043h32.669V389.69l8.043,7.854Z" transform="translate(-640.324 -289.087)"/><rect class="a1" width="89.471" height="8.043"/><path class="a1" d="M686.861,305.173h40.7v8.043H694.889V389.69l-8.043,7.854Z" transform="translate(-638.069 -289.087)"/><g transform="translate(0.001 32.172)"><path class="b1" d="M726.781,332.515v-12h-24.5v8.044h16.457v10.769a42.7,42.7,0,0,1-.722,5.273,37.689,37.689,0,0,1-8.424,17.24c-2.28,2.572-4.876,4.911-7.31,7.34v11.365c6.391-6.381,13.688-12.456,18.271-20.324a46.4,46.4,0,0,0,6.018-18.085A86.127,86.127,0,0,0,726.781,332.515Z" transform="translate(-637.321 -320.515)"/><path class="b1" d="M640.354,332.515v-12h24.5v8.044H648.4v10.769a42.894,42.894,0,0,0,.722,5.273,37.689,37.689,0,0,0,8.424,17.24c2.28,2.572,4.877,4.911,7.31,7.34v11.365c-6.392-6.381-13.688-12.456-18.271-20.324a46.413,46.413,0,0,1-6.018-18.085A86.127,86.127,0,0,1,640.354,332.515Z" transform="translate(-640.325 -320.515)"/></g></g><g transform="translate(638.186 365.289)"><path class="c1" d="M652.941,459.163v16.49H651.29v-13.32l-9.887,13.32h-1.145v-16.49h1.651v13.25l9.838-13.25Z" transform="translate(-640.258 -458.911)"/><path class="c1" d="M668.689,459.163v16.49h-1.652v-7.728h-9.179v7.728h-1.651v-16.49h1.651v7.176h9.179v-7.176Z" transform="translate(-639.485 -458.911)"/><path class="c1" d="M686.595,474.1v4.989h-1.536v-3.437H671.912v3.437h-1.536V474.1h1.264c1.662-.961,2.052-3.114,3.089-14.939h10.112V474.1Zm-13.049,0h9.629V460.716h-6.93C675.492,470.091,675.012,472.872,673.546,474.1Z" transform="translate(-638.798 -458.911)"/><path class="c1" d="M697.911,474.068v1.585h-9.447v-16.49h9.188v1.57h-7.535v5.632h6.923V467.9h-6.923v6.167Z" transform="translate(-637.921 -458.911)"/><path class="c1" d="M700.03,459.163h1.651v16.49H700.03Zm12.139,16.49h-2.247l-7.782-8.429V467l7.244-7.838h2.165l-7.3,7.918Z" transform="translate(-637.361 -458.911)"/><path class="c1" d="M711.239,467.427a8.178,8.178,0,0,1,8.435-8.5,7.76,7.76,0,0,1,7.746,5.63h-1.691a6.17,6.17,0,0,0-6.055-4.011,6.88,6.88,0,0,0,0,13.757,6.219,6.219,0,0,0,6.154-4.268h1.685a7.821,7.821,0,0,1-7.838,5.887A8.163,8.163,0,0,1,711.239,467.427Z" transform="translate(-636.817 -458.923)"/></g><g transform="translate(610 317.03)"><path class="d1" d="M634.962,418.506h-7.77v22.335h-6.047V418.506h-7.77v-5.611h21.587Z" transform="translate(-613.375 -412.895)"/><path class="d1" d="M654.011,435.215v5.626H636.793V412.895h16.779v5.585H642.84V424h9.694v5.474H642.84v5.74Z" transform="translate(-612.24 -412.895)"/><path class="d1" d="M680.081,412.895v27.946h-6.047V429.285H663.516v11.556H657.47V412.895h6.047V423.66h10.518V412.895Z" transform="translate(-611.238 -412.895)"/><path class="d1" d="M709.679,435.23v10.561h-5.571v-4.95H687.573v4.95H682V435.23h2.2c2.372-1.852,2.775-5.113,4.176-22.335H707V435.23Zm-16.09-16.723c-.613,10.317-1.355,14.4-3.123,16.723h10.481V418.506Z" transform="translate(-610.048 -412.895)"/><path class="d1" d="M729.5,435.215v5.626H712.283V412.895h16.778v5.585H718.33V424h9.693v5.474H718.33v5.74Z" transform="translate(-608.581 -412.895)"/><path class="d1" d="M753.578,422.505a9.515,9.515,0,0,1-9.864,9.61h-4.708v8.725H732.96V412.895h10.754A9.515,9.515,0,0,1,753.578,422.505Zm-6.126,0a3.831,3.831,0,0,0-4-4.009h-4.442v8.02h4.442A3.832,3.832,0,0,0,747.452,422.505Z" transform="translate(-607.578 -412.895)"/></g></g></svg>
            </router-link>
            <p class="main_text mb-2">Восстановление пароля</p>
            <p v-if="!emailSend" class="second_text">Укажите ваш email для восстановления</p>
            <form v-if="!emailSend" v-on:submit.prevent="sendRestore" autocmplete="off" class="restore_form">
                <div class="modal-line" :class="{'invalidEmail' : !validateEmail(restore.email)}">
                    <label for="email">Ваш email</label>
                    <input type="email"
                           autocomplete="off"
                           required
                           id="email"
                           name="email"
                           v-on:focusin="animateLabel"
                           v-on:focusout="animateLabelReverse"
                           v-model="restore.email">
                    <span class="error_message">
                        Введите валидный Email
                    </span>
                </div>
                <b-btn type="submit" class="main_button mt-3">Восстановить</b-btn>
            </form>
            <p v-if="emailSend" class="second_text">
                Письмо с инструкциями по восстановлению отправлены на указанную почту
            </p>
            <p class="bottom_text mt-3">
                <router-link to="/login">
                    Назад ко входу
                </router-link>
            </p>
        </div>
        <div class="bottom">
          <span class="color-grey">
            Напишите нам на
            <a href="mailto:support@tender-index.ru">support@tender-index.ru</a><br>
             или звоните по телефону <br>
             <a href="tel:+74993432053">+7(499)343-20-53</a>
           </span>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                restore: {
                    email: null
                },
                emailSend: false
            }
        },
        methods: {
            sendRestore(){
                if(this.validateEmail(this.restore.email)){
                    alert("Send");
                    this.emailSend = !this.emailSend
                }
                else{
                    alert('Abort')
                }
            }
        }
    }
</script>

<style scoped>
    .second_text{
        color: var(--main-grey-color);
        font-weight: bold;
        font-size: 14px;
        width: 80%;
        text-align: center;
    }
    .bottom_text a{
        color: var(--main-brown-color);
    }
    .bottom_text{
        color: var(--main-greyFull-color);
        font-weight: 600;
    }
    .modal-line{
        width: 80%;
    }
    .restore_form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .main_button{
        min-width: 160px;
        border-radius: 15px;
        padding: 4px 12px;
        background-color: var(--main-blue-color);
        color: #fff;
    }
    .main_text{
        color: var(--main-blue-color);
        font-weight: 700;
        font-size: 20px;
    }
    .hello{
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
        background-image: url('/back.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .icon_box{
        position: absolute;
        top: 47%;
        left: 50%;
        transform: translate(-50%, -50%);
        transform-origin: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #f2f2f2;
        max-width: 400px;
        border-radius: 5px;
        padding-bottom: 30px;
    }
    .color-grey{
        color: #808288;
    }
    .color-fff{
        color: #fff;
    }
    .bottom a{
        color: #808288;
        text-decoration: none;
        white-space: nowrap;
    }
    .bottom a:hover{
        color: #fff;
    }
    .bottom{
        text-align: center;
        margin-bottom: 20px;
        font-size: 13px;
    }
    .icon_box-title{
        font-size: 26px;
        text-align: center;
        margin-bottom: 0;
        margin-top: 25px;
        line-height: 1.7;
    }
    .icon_box-description{
        font-size: 18px;
    }
    .visible-568{
        display: none;
    }
    @media screen and (max-width: 769px){
        .hidden-769{
            display: none;
        }
    }
    @media screen and (max-width: 568px){
        .hidden-568{
            display: none;
        }
        .visible-568{
            display: block;
        }
        .icon_box{
            top: 42%;
        }
        .icon_box svg{
            width: 120px;
        }
        .icon_box-title{
            font-size: 20px;
            margin-top: 0;
            line-height: 1.6;
        }
        .icon_box-description{
            font-size: 16px;
        }
    }
    @media screen and (max-width: 420px){
        .icon_box{
            top: 50%;
            height: 100vh;
            width: 100vw;
            max-width: unset;
            border-radius: 0;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
</style>
<style>
    .a1{fill: var(--main-blue-color);}
    .b1{fill:#808288;}
    .c1{fill:#808389;}
    .d1{fill:#fe4646;}
</style>