<template>
    <div class="nav-left">
        <router-link :to="{name: 'personal_cabinet'}" exact>Личный кабинет</router-link>
    </div>
</template>

<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>

<style scoped>
    .nav-left{
        width: 300px;
        background: #f4f4f4;
        height: 100%;
        padding-top: 60px;
    }
</style>