<template>
    <div>
        <b-container>
            <b-row>
                <b-col>
                    <p class="tab_name">Личные данные</p>
                </b-col>
            </b-row>
            <form ref="personal_data">
                <b-row>
                    <b-col md="4">
                        <div class="modal-line">
                            <label for="familia">Фамилия</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="familia"
                                   name="familia"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.familia">
                        </div>
                    </b-col>
                    <b-col md="4">
                        <div class="modal-line">
                            <label for="name">Имя</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="name"
                                   name="name"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.name">
                        </div>
                    </b-col>
                    <b-col md="4">
                        <div class="modal-line">
                            <label for="otchestvo">Отчество</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="otchestvo"
                                   name="otchestvo"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.otchestvo">
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col md="4">
                        <div class="modal-line">
                            <label for="phone">Телефон</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="phone"
                                   name="phone"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.phone">
                        </div>
                    </b-col>
                    <b-col md="8">
                        <div class="modal-line">
                            <label for="organisation">Организация</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="organisation"
                                   name="organisation"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.organisation">
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <div class="modal-line">
                            <label for="position">Должность</label>
                            <input type="text"
                                   autocomplete="off"
                                   required
                                   id="position"
                                   name="position"
                                   v-on:focusin="animateLabel"
                                   v-on:focusout="animateLabelReverse"
                                   v-model="personal_data.position">
                        </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col class="d-flex align-items-center">
                        <b-btn type="submit" class="mr-5">Сохранить</b-btn>
                        <p class="policy_text">
                            Нажимая сохранить, вы подтверждаете, что даете
                            <a class="policy_link" href="javascript:void(0)">Согласие на обработку персональных данных</a>
                        </p>
                    </b-col>
                </b-row>
            </form>
            <hr class="my-5">
            <form ref="password_restore"></form>
        </b-container>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                personal_data: {
                    familia: null,
                    name: null,
                    otchestvo: null,
                    phone: null,
                    organisation: null,
                    position: null
                }
            }
        }
    }
</script>

<style scoped>
    .policy_link{
        color: var(--main-blue-color);
        font-size: 12px;
    }
    .policy_text{
        font-size: 12px;
        margin: 0;
        color: var(--main-grey-color);
    }
    .modal-line label{
        left: unset;
        transform: unset;
        font-weight: 400;
    }
    .tab_name{
        margin-top: 30px;
        font-weight: 600;
        font-size: 18px;
    }
</style>