<template>
    <div>
        <div class="personal_cabinet-head">
            <h1>Личный кабинет</h1>
            <b-nav justified tabs>
                <router-link class="nav-item" :to="{name: 'settings'}" exact>Мои настройки</router-link>
                <router-link class="nav-item" :to="{name: 'workgroup'}" exact>Рабочая группа</router-link>
                <router-link class="nav-item" :to="{name: 'notifications'}" exact>Уведомления</router-link>
                <router-link class="nav-item" :to="{name: 'access_pay'}" exact>Оплата доступа</router-link>
                <router-link class="nav-item" style="white-space: nowrap" :to="{name: 'ended_docs'}" exact>Закрывающие документы</router-link>
            </b-nav>
        </div>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data(){
            return{

            }
        }
    }
</script>

<style scoped>
    .nav-item{
        color: var(--main-grey-color);
        text-decoration: none;
        padding: 10px 0;
    }
    .router-link-active{
        border-bottom: 3px solid var(--main-blue-color);
        color: var(--main-blue-color);
        font-weight: 600;
    }
    .personal_cabinet-head{
        background-color: #f7f7f7;
    }
</style>